* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.content-body {
  font-family: 'Lato', sans-serif;
  color: whitesmoke; }
  .content-body .content-pages {
    background: #08008c;
    background: linear-gradient(90deg, #08008c 0%, #08008c 46%, #1f889d 100%); }

section div ul li {
  list-style: none;
  padding: 0.3rem 0rem;
  font-size: 1rem;
  font-weight: lighter; }
  section div ul li a {
    text-decoration: none;
    color: whitesmoke; }

.btn-estilos {
  background-color: #1e3e9e;
  color: #e1dddd;
  text-transform: uppercase;
  font-size: medium;
  padding: 0.4rem 1rem;
  border: 0.125rem solid #e1dddd;
  font-weight: 600;
  transition: 0.3s;
  width: 5rem; }
  .btn-estilos:hover {
    border: 0.125rem solid whitesmoke;
    color: whitesmoke; }

footer {
  background-color: black;
  display: flex;
  justify-content: center; }
  footer ul li {
    list-style: none;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    padding: 0.7rem; }
    footer ul li p {
      color: #e1dddd;
      margin-right: 1.5rem; }
    footer ul li a {
      text-decoration: none;
      color: #e1dddd; }
      footer ul li a:hover {
        color: whitesmoke; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav ul {
    display: flex;
    list-style: none;
    text-align: center; }
    nav ul .nav-bar {
      border-right: 0.07rem solid whitesmoke; }
    nav ul li {
      padding: 0.3rem 1.1rem; }
      nav ul li a {
        font-weight: 100;
        font-size: 0.8rem;
        text-decoration: none;
        text-transform: uppercase;
        color: whitesmoke;
        position: relative; }
        nav ul li a:after {
          content: "";
          background-color: whitesmoke;
          position: absolute;
          left: 0;
          top: calc(100% + 0.125rem);
          width: 100%;
          height: 0.065rem;
          opacity: 0;
          transition: 0.3s; }
        nav ul li a:hover::after {
          opacity: 0.9; }
      nav ul li .selected:after {
        opacity: 0.9; }

.content-index {
  background-image: url(../img/192.jpg);
  height: 100vh; }

.main-index {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 4rem; }
  .main-index img {
    width: 100%; }

.content-body {
  font-family: 'Lato', sans-serif;
  color: whitesmoke; }
  .content-body .content-pages {
    background: #08008c;
    background: linear-gradient(90deg, #08008c 0%, #08008c 46%, #1f889d 100%); }

section div ul li {
  list-style: none;
  padding: 0.3rem 0rem;
  font-size: 1rem;
  font-weight: lighter; }
  section div ul li a {
    text-decoration: none;
    color: whitesmoke; }

.btn-estilos {
  background-color: #1e3e9e;
  color: #e1dddd;
  text-transform: uppercase;
  font-size: medium;
  padding: 0.4rem 1rem;
  border: 0.125rem solid #e1dddd;
  font-weight: 600;
  transition: 0.3s;
  width: 5rem; }
  .btn-estilos:hover {
    border: 0.125rem solid whitesmoke;
    color: whitesmoke; }

.main-about {
  display: grid;
  grid-template-areas: "mainAboutImgP mainAboutImgP" "mainArtist mainLabels";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 2rem; }
  .main-about .main-about-img-p {
    grid-area: mainAboutImgP;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 0.125rem solid whitesmoke;
    margin-bottom: 4rem; }
    .main-about .main-about-img-p .main-about-p {
      margin: 1.3rem;
      padding: 1.2rem 0rem;
      font-size: 1.6rem;
      line-height: 1.9rem;
      font-weight: lighter; }

.main-artist {
  grid-area: mainArtist;
  margin-top: 3rem; }
  .main-artist h1 {
    font-size: 1.4rem;
    width: 85%;
    border-bottom: 0.125rem solid whitesmoke;
    text-transform: uppercase; }
  .main-artist .artist-list {
    display: flex; }
  .main-artist div ul {
    margin-top: 1rem;
    margin-right: 3rem; }

.main-labels {
  grid-area: mainLabels;
  margin-top: 3rem;
  margin-bottom: 4.5rem; }
  .main-labels h2 {
    border-bottom: 0.125rem solid whitesmoke;
    text-transform: uppercase; }
  .main-labels div ul {
    margin-top: 1rem;
    margin-right: 3rem; }

.content-body {
  font-family: 'Lato', sans-serif;
  color: whitesmoke; }
  .content-body .content-pages {
    background: #08008c;
    background: linear-gradient(90deg, #08008c 0%, #08008c 46%, #1f889d 100%); }

section div ul li {
  list-style: none;
  padding: 0.3rem 0rem;
  font-size: 1rem;
  font-weight: lighter; }
  section div ul li a {
    text-decoration: none;
    color: whitesmoke; }

.btn-estilos {
  background-color: #1e3e9e;
  color: #e1dddd;
  text-transform: uppercase;
  font-size: medium;
  padding: 0.4rem 1rem;
  border: 0.125rem solid #e1dddd;
  font-weight: 600;
  transition: 0.3s;
  width: 5rem; }
  .btn-estilos:hover {
    border: 0.125rem solid whitesmoke;
    color: whitesmoke; }

.main-contact {
  height: 100vh;
  display: flex;
  grid-template-areas: "h1" "form";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem; }
  .main-contact h1 {
    grid-area: h1;
    display: inline-block;
    text-align: center;
    width: 40rem;
    font-size: 3rem;
    border-bottom: 0.125rem solid whitesmoke; }
  .main-contact form {
    grid-area: form;
    padding: 1rem; }
    .main-contact form .form-name-email input {
      margin: 0.4rem;
      padding: 0.2rem;
      width: 31rem; }
    .main-contact form .form-box h3 {
      margin: 0.4rem;
      padding: 0.2rem;
      font-size: 1.5rem; }
    .main-contact form .form-box textarea {
      margin: 0.4rem;
      padding: 0.2rem;
      width: 31rem;
      height: 20rem;
      font-size: 1rem; }
    .main-contact form .form-box input {
      margin: 0.4rem;
      padding: 0.2rem; }
