/*inicio de la pagina gallery*/
.main-gallery{
   h1{
         grid-area: covers-title;
         width: ($widht-completo - 5);
         @include border-bottom;
         margin: 1rem 0.5rem 1rem 1rem;
         padding: 0.5rem 2rem;
     } 
     h2{
        width: ($widht-completo - 5);
        @include border-bottom;
        margin: 1rem 0.5rem 1rem 1rem;
        padding: 0.5rem 2rem;
     }  
    .gallery{
        .gallery-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: 28.125rem;
            gap: 2rem;
            padding: 2rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
    }
}
/*fin de la pagina gallery*/