/*inicio de la pagina gallery*/
@import "utilities/extend";
.main-gallery{
    display: grid;
    grid-template-areas:
     "section-gallery1 section-gallery1 section-gallery1"
     "section-gallery1 section-gallery1 section-gallery1"
     "section-gallery1 section-gallery1 section-gallery1"
     "section-gallery1 section-gallery1 section-gallery1"
     "section-gallery2 section-gallery2 section-gallery2"
     "section-gallery2 section-gallery2 section-gallery2"
     "section-gallery3 section-gallery3 section-gallery3"
     "section-gallery4 section-gallery4 section-gallery4";
     h1, h2{
        width: 95%;
        @include border-bottom;
        margin: 1rem 0.5rem 1rem 3rem;
        padding-bottom: 0.5rem;
     }
}
.section-gallery1{
    grid-area: section-gallery1;
}
.section-gallery2{
    grid-area: section-gallery2;
}
.section-gallery3{
    grid-area: section-gallery3;
}
.section-gallery4{
    grid-area: section-gallery4;
}
.gallery img{
    margin:2rem 3rem; 
    transition: 0.5s;
    &:hover{
        transform: scale(1.1);
    }
}
.ir-nav {
    @extend %btn-up;
    &:hover{
        @include btn-hover;
    }
    a{
        color:  map-get($map: $colores, $key: primario);
        text-align: center;
        font-size: $subtitle;
        font-weight: 100;
        i{
            padding: 5px;
        }
    }
}
/*fin de la pagina gallery*/