/*inicio de la pagina index*/
.content-index{
    background-image: url(../img/192.jpg);
    height: 100vh;
}
.main-index{
   @include flex(center, center);
    padding: 4rem;
    img{
        width: $widht-completo;
    }
}
/*fin de la pagina index*/