/*inicio de la pagina index*/
.content-index{
    background-image: url(../img/192.jpg);
}
.main-index{
    @include flex(end, center);
    height: 80vh;
   div{
       @include flex(center, center);
        img{
           width: $widht-completo - 50;
            height:100%;
        }
    }
}
   
/*fin de la pagina index*/