.content-index{
    background-image: url(../img/192.jpg);
    height: 100vh;
}
.main-index{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4rem;
    img{
        width: 100%;
    }
}