@import "utilities/mixins";
%btn-up {
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    margin: 1rem;
    @include btn-size (4.5rem, 4.5em, 1rem, 3rem);
    text-align: center;
    padding: 2.5rem;
    @include btn;
}
%btn-estilos{
    @include btn-size(5rem, 3rem, 1rem, 0rem);
    text-transform: uppercase;
    padding: 0.4rem 1rem;
    font-weight: 600;
}
%btn-estilos-hover{
    @include btn-hover;
}