$widht-completo: 100%;

//tipografia
$font-principal: 'Lato', sans-serif;
$subtitle: 3rem;
$text-large: 2rem;
$text-medium-large: 1.5rem;
$text-medium: 1rem;
$text-small: 0.8rem;

//colores
$color-primario: whitesmoke;
$color-secund : rgb(225, 221, 221);
$color-btn: rgb(202, 202, 202);
$bg-black : black;
$bg-pages: rgb(111,69,190);
$bg-btn : #173592;
$bg-btn-hover: #1e3e9e;