/*base de la pagina*/
@import "../utilities/maps";
@import"../utilities/vars";
.content-body{
    font-family: $font-principal;
    color: map-get($map: $colores, $key: primario);
    .content-pages{
        background: map-get($map: $colores, $key: bg-pages);
        background:  linear-gradient(90deg, rgba(111,69,190,1) 0%, rgba(33,22,157,1) 100%);
    }
}
section{
    div{
        ul{
            li{
                list-style: none;
                padding: 0.3rem 0rem;
                font-size: $text-medium;
                font-weight: lighter;
                a{
                    text-decoration: none;
                    color: map-get($map: $colores, $key: primario);
                }
            }
        }
    }
} 